footer {
  width: 100%;
  background-color: #06509f;
  color: #fff;
  padding: 20px;
  height: max-content;
  align-content: center;
  text-align: center;
  margin-top: auto
}

footer a {
  color: #fff;
}

footer > * {
  margin-bottom: 15px;
}

.link {
  text-decoration: none;
  background-color: #fff;
  color: #06509f;
  border-radius: 2px;
  margin: 2px;
  padding: 5px;
}

.link:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}